* {
}

body {
    display:flex;
    flex-direction:column;
    justify-content: space-evenly;
    height: 100vh;
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px 0 24px;
    font-size: 24px;
    color: #ffffff;
    background-color: #1f2937;
}

.container {
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: #1f2937;
 padding: 24px;
 gap: 24px;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #ffffff;
    padding-left: 20px;
  
}

.column-image {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
}

img {
    max-width: 75%;
}

button.primary{
    color: #ffffff;
    background-color: #3882f6;
    border-radius: 16px;
    padding: 10px 20px;
    border: 0;
    cursor: pointer;
}

button.secondary {
    color: #ffffff;
    background-color: #3882f6;
    padding: 10px 20px;
    border: 2px solid;
    border-color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
}
ul {
    display: flex;
    justify-content: flex-end;
    gap: 32px;
    list-style-type: none;
}

h1 {
    font-size: 48px;
    font-weight: 700;
}

h3 {
    font-size: 24px;
    font-weight: 900;
}

.container-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 0;
}

.second {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 60%;
    gap: 40px;
    padding: 20px 0 40px 0;
}

.border-img {
    border: 3px solid #3882f6;
    border-radius: 12px;
}

.sub-text {
   text-align: center;
}

.container-three {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb
}

blockquote {
    text-align: center;
    max-width: 50%;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    padding: 24px;

}

styled-quote cite {
    display: block;                        
    text-align: right;                   
    font-size: 0.9rem;                   
    color: #777;                            
    margin-top: 5px;                        
  }

  .container-four {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    border-radius: 16px;
    margin: 24px;
    padding: 24px;
    color: #ffffff;
    background-color: #3882f6
}

.footer {
   display: flex;
   flex-direction: column-reverse;
   justify-content: center;
   align-items: center;
   color: white;
   background-color: #1f2937;
   padding-top: 24px;
   margin-top: 0;
}