body {
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    color: #ffffff;
    background-color: #1f2937;
}

.container {
 display: flex;
 justify-content: space-between;
 align-items: center;
 background-color: #1f2937;
 padding: 20px;
 gap: 20px;
}

.column {
    flex: 1;
    
    color: #ffffff;
    gap: 20px;
    padding: 20px;
}

.column-image {
    max-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
img {
    max-width: 100%;
}

button {
    color: #ffffff;
    background-color: #3882f6;
    border-radius: 16px;
    padding: 8px 16px;
    border: 0;
}

ul {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    list-style-type: none;
}

a {

}