body {
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px 0 24px;
    font-size: 24px;
    color: #ffffff;
    background-color: #1f2937;
}

.container {
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: #1f2937;
 padding: 24px;
 gap: 24px;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #ffffff;
  
}

.column-text {
    max-width: 50%; 

}

.column-image {
    max-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
img {
    max-width: 100%;
}

button {

    color: #ffffff;
    background-color: #3882f6;
    border-radius: 16px;
    padding: 10px 20px;
    border: 0;
    cursor: pointer;
}

ul {
    display: flex;
    justify-content: flex-end;
    gap: 32px;
    list-style-type: none;
}

h1 {
    font-size: 48px;
    font-weight: 700;
}

h2 {
    font-size: 36px;
    font-weight: 900;
}